<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm" action="{{ url_for('login') }}" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" id="loginButton">Login</button>
        </form>
        <p id="error-message">{{ get_flashed_messages()[0] if get_flashed_messages() else '' }}</p> 

        <!-- New Button for Registration -->
        <p>New user? <a href="{{ url_for('register') }}">Click here</a></p>
    </div>
</body>
</html>
